* {
  box-sizing: border-box;
}

html, 
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
}

a {
  color: #006296; /* get color from context */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: #0089D4;
}
